/* Appbar.css */
.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 1vw 2vw;
  height: 30px;
  color: black;
}

.home-button {
  font-family: 'Libre Franklin', sans-serif;
  font-size: 3vw;
  cursor: pointer;
  color: #000;
}

.tabs {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #000;
  background-color: rgb(255, 255, 255);
  border: white;
  gap: 2vw; /* Adjust the gap between tabs */
  font-size: 1.5vw;
  font-weight: 10;
  margin-right: 6.5vw;
}

.brand-tab {
  display: flex;
  
  cursor: pointer;
  color: #000;
}
.influencer-tab {
  display: flex;

  cursor: pointer;
  color: #000;
}
.nav-bar-button {
  display: flex;
  gap: 1vw; /* Adjust the gap between Login and Sign In buttons */
}

.button {
  padding: 0.5vw 1.0vw;
  font-family: roboto;
  font-size: 1vw;
  color: white;
  background-color: #ffffff;
  color: #000000;
  border: none;
  border-radius: 13px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}

.button:hover {
  background-color: #535353;
  color: #fff;
}

/* Media query for smaller screens */
@media (max-width: 660px) {
  .nav-bar {
    height: 60px;
  }
  .tabs{
    font-size:4vw;
  
  }
  .home-button{
    font-size:5vw;
  }
  .button{
    font-size:2vw;
    height:7vw;
  }
}
